---
import Footer from "../../components/Footer.astro";
import WavedHeader from "../../components/WavedHeader.astro";
import MainLayout from "../MainLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<MainLayout>
  <div class="flex flex-col gap-24 justify-between m-0 p-0">
    <WavedHeader />
    <div
      id="gallery-wrapper"
      class="flex flex-col items-center w-full m-0 p-0 gap-16"
    >
      <h1 id="title" class="text-6xl text-center tracking-[1.5rem]">
        {title}
      </h1>
      <slot />
    </div>
    <Footer />
  </div>
</MainLayout>
