---
import Layout from "../layouts/Layout.astro";

const rows = [
  [
    "/img/illustrations/agua1.png",
    "/img/illustrations/agua2.png",
    "/img/illustrations/agua3.png",
    "/img/illustrations/agua4.png",
  ],
  [
    "/img/illustrations/medusa_colores.png",
    "/img/illustrations/virgo_the_virrgin.jpg",
    "/img/illustrations/woman_3d_instagram_post.jpg",
    "/img/illustrations/nena_cabeza_con_pajaroschitui.png",
    "/img/illustrations/ejercicio_mika_pikazo.png",
    "/img/illustrations/nena_cyberpunk_estulo_mio1.png",
  ],
  [
    "/img/illustrations/predator.jpg",
    "/img/illustrations/fondo_agua.png",
    "/img/illustrations/joshua_spiderverse.png",
    "/img/illustrations/haku_2.png",
    "/img/illustrations/buho_no_face_hipster.png",
  ],
];
---

<Layout title="Poshaus">
  <main id="container">
    <div class="grid">
      {
        rows.map((column) => (
          <div class="column">
            {column.map((image) => (
              <div class="image-container">
                <img src={image} class="image" width="100%" alt={image} />
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  :root {
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
  }

  .grid {
    width: 100%;
    margin: 1rem auto;
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: 0px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media (min-width: 576px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    margin-bottom: 1rem;
  }
</style>
