---
import GameGrid from "../components/gallery/GameGrid.astro";
import GalleryLayout from "../layouts/GalleryLayout.astro";

const games = [
  {
    link: "https://studio904.itch.io/skarymonsters",
    logo: "/img/games/skary_monsters/logo.webp",
    concept: "/img/games/skary_monsters/concept.webp",
  },
  {
    link: "https://studio904.itch.io/backrowseaters",

    logo: "/img/games/back_row_seaters/logo.webp",
    concept: "/img/games/back_row_seaters/concept.webp",
  },
  {
    link: "https://studio904.itch.io/metalclaw",
    logo: "/img/games/metal_claw/logo.webp",
    concept: "/img/games/metal_claw/concept.webp",
  },
];
//FURTHER OPTIMIZE https://bholmes.dev/blog/picture-perfect-image-optimization/
---

<GalleryLayout title="GAMES">
  <h2 class="text-2xl text-center font-semibold">
    To play the games visit our <a
      class="text-darkbluewave"
      href="https://studio904.itch.io/"
      target="_blank">itch.io</a
    >
    page or click on the name of the project
  </h2>
  <GameGrid columns={games} />
</GalleryLayout>
<style></style>
