---
import IndexLayout from "../layouts/IndexLayout.astro";
import Link from "../components/Link.astro";
import SocialLink from "../components/SocialLink.astro";
import IllustrationsGrid from "../components/gallery/IllustrationsGrid.astro";

const social = [
  {
    name: "instagram",
    url: "https://www.instagram.com/poshaus/",
  },
  {
    name: "behance",
    url: "https://www.behance.net/poshaus",
  },
  {
    name: "twitter",
    url: "https://twitter.com/DrColdy",
  },
  {
    name: "email",
    url: "mailto:jr.chand204@gmail.com",
  },
];
---

<IndexLayout>
  <div id="video_background">
    <video
      width="640"
      height="360"
      autoplay
      muted
      loop
      playsinline
      controls="true"
    >
      <source src="/video/video.webm" type="video/webm" />
      <source src="/video/video.mp4" type="video/mp4" />
    </video>
  </div>
  <main
    id="container"
    class="flex items-center justify-center min-h-screen w-full"
  >
    <div class="content" id="content" class="flex flex-col items-center">
      <img src="/svg/logo.svg" alt="Poshaus" id="logo" class="my-8 w-full" />
      <div id="links">
        <Link href="#illustrations" title="Illustrations" />
        <Link href="/tattoos" title="Tattoo designs" />
        <Link href="/games" title="Games" />
        <Link href="/projects" title="Projects" />
        <Link href="/store" title="Store" target="_blank" />
        <div id="social" class="flex flex-row flex-nowrap justify-between">
          {
            social.map((link) => (
              <SocialLink
                href={link.url}
                svg={`/svg/${link.name}.svg`}
                alt={link.name}
              />
            ))
          }
        </div>
      </div>
    </div>
  </main>
  <IllustrationsGrid />
</IndexLayout>

<style>
  #video_background {
    left: 0;
    height: 100%;
    position: fixed;
    pointer-events: none;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: -20;
  }

  #video_background video {
    width: 100vw;
    height: 56.25vw;
    min-height: 150vh;
    min-width: 227.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -20;
  }
</style>
