---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import SocialLink from "../components/SocialLink.astro";
---

<Layout title="Poshaus">
  <div id="vimeo_background">
    <!-- might need to https://developer.chrome.com/blog/autoplay/ -->
    <iframe
      src="https://player.vimeo.com/video/785797372?h=d14d9e1f89&background=1&autoplay=1&loop=1&autopause=0"
      width="640"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>
  </div>
  <main id="container">
    <div class="content">
      <img src="/svg/logo.svg" alt="Poshaus" id="logo" />
      <div id="links">
        <Link href="#" title="Illustration" />
        <Link href="#" title="Tattoo designs" />
        <Link href="#" title="Other" />
        <Link href="#" title="Store" />
        <div id="social">
          <SocialLink
            href="https://www.instagram.com/poshaus/"
            svg="/svg/instagram.svg"
            alt="instagram"
          />
          <SocialLink
            href="https://www.instagram.com/poshaus/"
            svg="/svg/behance.svg"
            alt="behance"
          />
          <SocialLink
            href="https://www.instagram.com/poshaus/"
            svg="/svg/twitter.svg"
            alt="twitter"
          />
          <SocialLink
            href="https://www.instagram.com/poshaus/"
            svg="/svg/email.svg"
            alt="email"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  #logo {
    margin: 2rem 0;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }

  #vimeo_background {
    left: 0;
    height: 100%;
    position: fixed;
    pointer-events: none;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  #vimeo_background iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 150vh;
    min-width: 227.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
