---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="pt-10 px-10">
    <div class="grid grid-cols-4 gap-1 justify-center">
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
      <a href="/youtube2mp3">
        <img src="/svg/music_face.svg" alt="secrets" class="h-96" />
      </a>
    </div>
  </div>
</MainLayout>
