---
import Social from "../generators/social";
import FooterLink from "./FooterLink.astro";
import GreenWave from "./GreenWave.astro";
---

<div id="footer" class="flex flex-col">
  <div
    id="content-container"
    class="relative flex items-center justify-center pt-16 z-10"
  >
    {
      Social.map((link) => (
        <FooterLink
          href={link.url}
          svg={`/svg/${link.name}.svg`}
          alt={link.name}
        />
      ))
    }
  </div>
  <GreenWave class="absolute -z-10" />
</div>
