---
import BlueWave from "./BlueWave.astro";

const { pathname } = Astro.url;
---

<div id="header" class="relative flex flex-col">
  <BlueWave class="absolute -z-10 opacity-50" />
  <div id="content-container" class="relative flex box-border w-full z-10 px-4">
    <div id="header-nav" class="flex items-center justify-center w-full pt-4">
      <a href="/">
        <img
          src="/img/logo.png"
          id="navbar-logo"
          alt="navbar-logo"
          class="h-16"
        />
      </a>
    </div>
  </div>
</div>
