---
import GameGrid from "./GameGrid.astro";

interface IGame {
  link: string;
  logo: string;
  concept: string;
}

interface Props {
  columns: IGame[];
}

const { columns } = Astro.props;
---

<div id="gallery-wrapper" class="flex flex-col items-center w-full m-0">
  <h2 class="text-2xl text-center font-semibold">
    To play the games visit our <a
      class="text-darkbluewave"
      href="https://studio904.itch.io/"
      target="_blank">itch.io</a
    >
    page or click on the name of the project
  </h2>
  <GameGrid columns={columns} />
</div>
