---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import WavedHeader from "../components/WavedHeader.astro";
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
  <WavedHeader />
  <div id="gallery-container">
    <slot />
  </div>
  <Footer />
</MainLayout>
<style>
  #gallery-container {
    padding: 0 1rem;
    padding-top: 5rem;
  }
</style>
