---
import MainLayout from "./MainLayout.astro";

const { pathname } = Astro.url;

function pathGenerator(path) {
  return pathname.includes(path) ? "#" : `/${path}`;
}

const navbar = [
  { name: "Main", link: "/" },
  {
    name: "Illustrations",
    link: pathGenerator("illustrations"),
  },
  { name: "Tattoo designs", link: pathGenerator("tattoos") },
  { name: "Other", link: pathGenerator("other") },
  { name: "Store", link: pathGenerator("store") },
];
---

<MainLayout>
  <div id="navbar">
    {navbar.map((item) => <a href={item.link}>{item.name}</a>)}
  </div>
  <slot />
</MainLayout>
<style>
  #navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: pink;
  }

  #navbar a {
    text-decoration: none;
    color: #000;
    padding-right: 2rem;
  }
</style>
