---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
  <Header />
  <div id="gallery-container">
    <slot />
  </div>
  <Footer />
</MainLayout>
<style>
  #gallery-container {
    padding: 0 1rem;
  }
</style>
